# Generated by scripts/generate-action-openapi.mjs. Do not add credentials.
openapi: 3.1.0
info:
  title: EGLearn Review Sync
  version: 1.0.0
  description: Saves one validated EGLearn speaking review after the learner exits Voice mode and explicitly asks to save it.
servers:
  - url: https://eglearn-speaking.hd701108.chatgpt.site
paths:
  /api/actions/reviews:
    post:
      operationId: saveSpeakingReview
      summary: Save the completed speaking review
      description: Call only after Voice mode has ended and the learner explicitly requests a review and save. Never send raw audio, a full transcript, user identity, timestamps, or credentials.
      security:
        - sitesAuthorization: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveReviewRequest"
      responses:
        "200":
          description: The same idempotent save request was already completed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveReviewResponse"
        "201":
          description: The review was saved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveReviewResponse"
        "409":
          description: The idempotency key was reused for different content.
        "413":
          description: The request is too large.
        "422":
          description: The request or review contract is invalid.
        "503":
          description: The review store is temporarily unavailable.
components:
  securitySchemes:
    sitesAuthorization:
      type: apiKey
      in: header
      name: OAI-Sites-Authorization
      description: Configured only in GPT Builder. Use the private Site identity-bypass bearer value; never place it in this file.
  schemas:
    SaveReviewRequest:
      type: object
      properties:
        idempotencyKey:
          type: string
          format: uuid
          description: Generate once for this save attempt and reuse the same value for every retry.
        review:
          $ref: "#/components/schemas/ReviewV1"
      required:
        - idempotencyKey
        - review
      additionalProperties: false
    SaveReviewResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - saved
            - already_saved
        sessionId:
          type: string
        savedAt:
          type: string
          format: date-time
        topicEn:
          type: string
        dashboardUrl:
          type: string
          format: uri
      required:
        - status
        - sessionId
        - savedAt
        - topicEn
        - dashboardUrl
      additionalProperties: false
    ReviewV1:
      type: object
      properties:
        schemaVersion:
          type: string
          const: "1.0"
        topicEn:
          type: string
          minLength: 1
          maxLength: 160
        sample:
          type: object
          properties:
            status:
              type: string
              enum:
                - sufficient
                - insufficient
            learnerWordCount:
              type: integer
              minimum: 0
              maximum: 100000
            substantiveTurnCount:
              type: integer
              minimum: 0
              maximum: 10000
            reasonZh:
              type: string
              minLength: 1
              maxLength: 300
          required:
            - status
            - learnerWordCount
            - substantiveTurnCount
            - reasonZh
          additionalProperties: false
        summaryZh:
          type: string
          minLength: 1
          maxLength: 800
        strengths:
          maxItems: 3
          type: array
          items:
            type: object
            properties:
              dimension:
                type: string
                enum:
                  - grammar
                  - vocabulary
                  - communication
                  - interaction
              noteZh:
                type: string
                minLength: 1
                maxLength: 500
              evidence:
                minItems: 1
                maxItems: 2
                type: array
                items:
                  type: object
                  properties:
                    quote:
                      type: string
                      minLength: 1
                      maxLength: 300
                  required:
                    - quote
                  additionalProperties: false
            required:
              - dimension
              - noteZh
              - evidence
            additionalProperties: false
        keyIssues:
          maxItems: 3
          type: array
          items:
            type: object
            properties:
              ruleId:
                type: string
                enum:
                  - G_PAST_TENSE
                  - G_PRESENT_PERFECT
                  - G_TENSE_ASPECT_OTHER
                  - G_SUBJECT_VERB_AGREEMENT
                  - G_ARTICLE_MISSING
                  - G_ARTICLE_CHOICE
                  - G_COUNTABILITY
                  - G_PREPOSITION_TIME_PLACE
                  - G_PREPOSITION_COLLOCATION
                  - G_WORD_ORDER
                  - G_PRONOUN_REFERENCE
                  - G_INFINITIVE_GERUND
                  - G_MODAL
                  - G_CONDITIONAL
                  - L_WORD_CHOICE
                  - L_COLLOCATION
                  - L_WORD_FORM
                  - L_REGISTER
                  - L_EXCESSIVE_REPETITION
                  - D_COHESION
                  - D_RELEVANCE
                  - D_CLARIFICATION
                  - D_TURN_DEVELOPMENT
                  - OTHER
              impact:
                type: string
                enum:
                  - meaning_blocking
                  - meaning_affecting
                  - polish
              original:
                type: string
                minLength: 1
                maxLength: 300
              rewrite:
                type: string
                minLength: 1
                maxLength: 300
              explanationZh:
                type: string
                minLength: 1
                maxLength: 500
              practiceCueEn:
                type: string
                minLength: 1
                maxLength: 300
            required:
              - ruleId
              - impact
              - original
              - rewrite
              - explanationZh
              - practiceCueEn
            additionalProperties: false
        scores:
          type: object
          properties:
            grammar:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - assessed
                    - unassessed
                band:
                  anyOf:
                    - type: integer
                      minimum: 1
                      maximum: 5
                    - type: "null"
                basis:
                  type: string
                  enum:
                    - transcript
                    - none
                rationaleZh:
                  type: string
                  minLength: 1
                  maxLength: 500
              required:
                - status
                - band
                - basis
                - rationaleZh
              additionalProperties: false
            vocabulary:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - assessed
                    - unassessed
                band:
                  anyOf:
                    - type: integer
                      minimum: 1
                      maximum: 5
                    - type: "null"
                basis:
                  type: string
                  enum:
                    - transcript
                    - none
                rationaleZh:
                  type: string
                  minLength: 1
                  maxLength: 500
              required:
                - status
                - band
                - basis
                - rationaleZh
              additionalProperties: false
            communication:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - assessed
                    - unassessed
                band:
                  anyOf:
                    - type: integer
                      minimum: 1
                      maximum: 5
                    - type: "null"
                basis:
                  type: string
                  enum:
                    - transcript
                    - none
                rationaleZh:
                  type: string
                  minLength: 1
                  maxLength: 500
              required:
                - status
                - band
                - basis
                - rationaleZh
              additionalProperties: false
            fluency:
              type: object
              properties:
                status:
                  type: string
                  const: unassessed
                band:
                  type: "null"
                basis:
                  type: string
                  const: none
                rationaleZh:
                  type: string
                  const: 当前复盘没有可靠的语音时间证据，因此不评估流利度。
              required:
                - status
                - band
                - basis
                - rationaleZh
              additionalProperties: false
          required:
            - grammar
            - vocabulary
            - communication
            - fluency
          additionalProperties: false
        pronunciation:
          type: object
          properties:
            status:
              type: string
              const: not_assessed
            reasonZh:
              type: string
              const: 文字转录不足以可靠评估发音。
          required:
            - status
            - reasonZh
          additionalProperties: false
        usefulExpressions:
          maxItems: 3
          type: array
          items:
            type: object
            properties:
              quote:
                type: string
                minLength: 1
                maxLength: 300
              whyItWorksZh:
                type: string
                minLength: 1
                maxLength: 500
              reusablePatternEn:
                type: string
                minLength: 1
                maxLength: 300
            required:
              - quote
              - whyItWorksZh
              - reusablePatternEn
            additionalProperties: false
        nextPractice:
          type: object
          properties:
            focusRuleIds:
              maxItems: 2
              type: array
              items:
                type: string
                enum:
                  - G_PAST_TENSE
                  - G_PRESENT_PERFECT
                  - G_TENSE_ASPECT_OTHER
                  - G_SUBJECT_VERB_AGREEMENT
                  - G_ARTICLE_MISSING
                  - G_ARTICLE_CHOICE
                  - G_COUNTABILITY
                  - G_PREPOSITION_TIME_PLACE
                  - G_PREPOSITION_COLLOCATION
                  - G_WORD_ORDER
                  - G_PRONOUN_REFERENCE
                  - G_INFINITIVE_GERUND
                  - G_MODAL
                  - G_CONDITIONAL
                  - L_WORD_CHOICE
                  - L_COLLOCATION
                  - L_WORD_FORM
                  - L_REGISTER
                  - L_EXCESSIVE_REPETITION
                  - D_COHESION
                  - D_RELEVANCE
                  - D_CLARIFICATION
                  - D_TURN_DEVELOPMENT
                  - OTHER
            scenarioEn:
              type: string
              minLength: 1
              maxLength: 300
            promptsEn:
              minItems: 2
              maxItems: 3
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 300
            retrySentenceEn:
              anyOf:
                - type: string
                  minLength: 1
                  maxLength: 300
                - type: "null"
          required:
            - focusRuleIds
            - scenarioEn
            - promptsEn
            - retrySentenceEn
          additionalProperties: false
      required:
        - schemaVersion
        - topicEn
        - sample
        - summaryZh
        - strengths
        - keyIssues
        - scores
        - pronunciation
        - usefulExpressions
        - nextPractice
      additionalProperties: false
